body {
  background-color: #f5f6fa;
}

.app {
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
